In [5]:
# Assign -1  student details with 5 marks 
sname = input("enter student name: ")
sstandard = input("enter your standard: ")
sDivion = input("enter your division: ")
sage  = input("enter your age: ") 
English = int(input("enter English marks: "))
Math = int(input("enter Math marks: "))
science = int(input("enter science marks: "))
History = int(input("enter History marks: "))
Civics = int(input("enter Civics marks: "))
Total = English+Math+science+History+Civics
Average= Total/5
print(sname)
print(sstandard)
print(sDivion)
print(sage)
print(English)
print(Math)
print(science)
print(History)
print(Civics)
print(Total)
print(Average)

enter student name: Kartik Gadhave
enter your standard: 6
enter your division: F
enter your age: 12
enter English marks: 90
enter Math marks: 90
enter science marks: 95
enter History marks: 90
enter Civics marks: 93
Kartik Gadhave
6
F
12
90
90
95
90
93
458
91.6

In [6]:
# Assign 2 Aithmatic calculation 
a = 3456
b = 6782
c = 9786

x = a + b + c
print(x)

20024

In [7]:
y = a*b*c
print(y)

229370061312

In [8]:
z = c-b-a
print(z)

-452

In [ ]:
# Assign 3
Empname = input("enter Employee name: ")
Empdesg= input("enter Employee Designation: ")
Empsal = input("enter Employee salary: ")
Empexp  = input("enter Employee Experience: ") 
salary = 50000
Hike = 50000*0.15
print(Empname)
print(Empdesg)
print(Empsal)
print(Empexp)
print(Hike)

enter Employee name: Vishnu Pujari
enter Employee Designation: Manager
enter Employee salary: 50000